<form [formGroup]="form">
    <div class="form-group mb-3">
        <label for="username">Username</label>
        <input 
        formControlName="username"
        [class.is-invalid]="username?.touched && !username?.valid"
        id="username" 
        type="text" 
            class="form-control">
            <div class="invalid-feedback">
                <span *ngIf="username?.touched && !username?.valid">Username is required</span>
            </div>
    </div>
    <div class="form-group mb-3">
        <label for="password">Password</label>
        <input 
        formControlName="password"
        [class.is-invalid]="password?.touched && !password?.valid"
        id="password" 
            type="text" 
            class="form-control">
            <div class="invalid-feedback">
                <span *ngIf="password?.touched && !password?.valid">password is required</span>
            </div>
    </div>
    <button class="btn btn-primary" type="submit">Sign Up</button>
</form>