<!-- <ul class="nav nav-pills">
  <li class="nav-item"><a class="nav-link"  [class.active]="viewMode == 'map'" (click)="viewMode = 'map'">Map view</a></li>
  <li class="nav-item" ><a class="nav-link" [class.active]="viewMode == 'list'" (click)="viewMode = 'list'">List view</a></li>
</ul>

<div [ngSwitch]="viewMode">
  <p *ngSwitchCase="'map'">Map View </p>
  <p *ngSwitchCase="'list'">List View </p>
  <p *ngSwitchDefault>OtherWhise View </p>
</div>
 -->
<button class="btn btn-primary" (click)="add()">Add</button>
<button class="btn btn-secondary" (click)="loadCourses()">Load Courses</button>
 <ul *ngFor="let course of courses, index as i; even as isEvent; let odd = odd; trackBy: trackCourses">
   <li>
     {{i}} - {{ course.title }} {{ isEvent ? 'even': 'odd'}}
    <button (click)="onRemove(course)">remove</button>
   </li>
 </ul>