<form [formGroup]="form" class="col-6 mx-auto mt-5" (submit)="changePassword()">
    <div class="my-3 form-group">
        <label for="oldPassword" class="form-label">Old Password</label>
        <input
            formControlName="oldPassword"
            type="text"
            id="oldPassword"
            [class.is-invalid]="oldPassword.touched && !oldPassword.valid"
            class="form-control"
        />
        <div class="invalid-feedback">
            <span *ngIf="oldPassword?.errors?.['required']">
                Old password is required!
            </span>
            <span *ngIf="oldPassword.pending"> Loading... </span>
            <span *ngIf="oldPassword?.errors?.['shouldMatchCurrentPassword']">
                This password does not match your current password!
            </span>
        </div>
    </div>
    <div class="my-3 form-group">
        <label for="newPassword" class="form-label"> New Password </label>
        <input
            formControlName="newPassword"
            type="text"
            id="newPassword"
            [class.is-invalid]="newPassword.touched && newPassword.invalid"
            class="form-control"
        />
        <div class="invalid-feedback">
            <span *ngIf="newPassword.errors?.['required']">
                New password is required
            </span>
            <span *ngIf="newPassword.errors?.['minlength']">
                New Password must be at least
                {{newPassword.errors?.['minlength'].requiredLength}} characters
            </span>
        </div>
    </div>
    <div class="my-3 form-group">
        <label for="confirmPassword" class="form-label">
            Confirm Password
        </label>
        <input
            formControlName="confirmPassword"
            type="text"
            id="confirmPassword"
            [class.is-invalid]="confirmPassword.touched && (confirmPassword.invalid || form.errors?.['confirmPasswordshouldMatchNewPassword'])"
            (keyup)="log(form)"
            class="form-control"
        />
        <div class="invalid-feedback">
            <span *ngIf="confirmPassword.errors?.['required']">
                Confirm password is required
            </span>
            <span
                *ngIf="confirmPassword.valid && form.invalid && form.errors?.['confirmPasswordshouldMatchNewPassword']"
            >
                Confirm password does not match new password
            </span>
        </div>
    </div>
    <p>
        {{ form.value | json }}
    </p>
    <button [disabled]="form.invalid" class="btn btn-primary">
        Change Password
    </button>
</form>
