<p class="fs-2 ">Headers :</p>
<p class="d-flex flex-column fw-bold">
    <span *ngFor="let header of headers">{{header}}</span>
</p>
<p class="fs-2 ">Body :</p>
<p class="text-danger">
    {{error | json}}
</p>
<form class="form-group my-3 d-flex gap-5" >
    <input type="text" class="form-control" #title>
    <input type="button" value="Ajouter" class="btn btn-success" (click)="createPost(title)">
</form>
<ul class="list-group" *ngIf="posts.length>0">
    <li class="list-group-item" *ngFor="let post of posts">
        <button class="btn btn-warning btn-sm mx-2" (click)="updatePost(post)">Update</button>
        <button class="btn btn-danger btn-sm mx-2" (click)="deletePost(post)">Delete</button>
        <button class="btn btn-danger btn-sm mx-2" (click)="badDeletePost(post)">Bad Delete</button>
        {{ post.title }}
    </li>
</ul>